*{
    margin: 0;
    padding: 0;
}

body,html{
    height: 100%;
}

.bg-image{
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("images/bg_image.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.applist{
    position: fixed;
    height: 670px;
    margin-top: 30px;
    width: 750px;
    margin-left: 26%;
    margin-bottom: 20px;
    align-items: center;
    overflow: hidden;
    overflow-y: auto;
}

.applist::-webkit-scrollbar {
    display: none;
}

.applist h1{
    background-color:orange;
    color:white ;
    border-radius: 6px;
    height: 50px;
    text-align: center;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 1px black;
}

.applist #search{
    width: 100%;
    margin-top: 30px;
    border-radius: 6px;
    height: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.applist #search::placeholder{
    font-size: 20px;
    text-align: center;
}

.buttons1{
    height: 40px;
    width: 70px;
    border-radius: 6px;
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 20px;
    margin-left: 39%;
}

.buttons1:hover{
    cursor: pointer;
}

.buttons2{
    height: 40px;
    width: 80px;
    border-radius: 6px;
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px;
}

.buttons2:hover{
    cursor: pointer;
}

.tb{
    margin-top: 40px;
    width: 100%;
    border: 2px solid black;
    border-radius: 6px;
}

.tb th{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: azure;
    padding: 5px;
    border-radius: 6px solid black;
}

#rowsData{
    overflow: hidden;
    overflow-y: scroll;
}

#rowsData tr:nth-child(even){
    background-color: green ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 6px solid black;
    text-align: center;
}

#rowsData tr td{
    padding: 5px;
}

#rowsData tr:nth-child(odd){
    background-color: orange;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 15px;
    border-radius: 6px solid black;
    text-align: center;
}